$header-height: 112px;
$footer-height: 96px;

//main-colors
$text-color: #2d343e;
$white-text-color: #dddddd;

//base-color
$color-white: #fff;
$dark-text: #2d343e;
$purple: #4a1e4b;
$yellow: #fec637;
$orange: #f27048;